{{!-- https://github.com/emilyannz/chatty/pull/1 --}}

<div class="main-container">
  <div class="nav-container">
    <h2 class="nav-title">Nashville Chatty Magoos</h2>
    <div class="container">
      <ul class="nav-links">
        <li>
          {{#link-to "room" class="nav-links__link"}}Chat Room{{/link-to}}
        </li>
        <li>
          {{#link-to "public.signup" class="nav-links__link"}}Sign up{{/link-to}}
        </li>
        <li>
          {{#link-to "public.login" class="nav-links__link"}}Login{{/link-to}}
        </li>
      </ul>
    </div>
  </div>
  {{outlet}}
</div>
