<header class="header">
  <div class="header__container">
    {{#link-to "register" class="links"}}
    <p class="login-link">Register</p>
    <p class="login-link">Login</p>
    {{/link-to}}
    <h2 id="title">Nashville Chatty Magoos</h2>
  </div>
</header>

{{outlet}}
